* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #474747;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}



.auth-button {
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;
}

.auth-button:hover {
    filter: brightness(0.7);
}